@import "tailwindcss";

html {
    font-family: "Poppins", serif;
}

:root {
  --primary-color: #3498db;
  /* --primary-color-dark: #004182; */
  --secondary-color: #eaf0f1;
}

.logo {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
}






