

html {
    font-family: "Poppins", serif;
}

:root {
  --primary-color: #3498db;
  --primary-color-dark: #004182;
  --secondary-color: #e0edee;
  --primary-color-light: oklch(0.984 0.019 200.873);

}

.logo {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
}

@import "tailwindcss";






